{% set awards_more_exists = true %}
{% set cat_more_exists = true %}

{% if pick_awards_categories == 'awards' %}
  {# set visible award items #}
  {% set awards_initial %}
    {% for award in awards[:3] %}
      {{ renderComponent('AwardCard', { award: award.award }) }}
    {% endfor %}
  {% endset %}
  {# set 'view more' award items #}
  {% set awards_more %}
    {% for award in awards[3:] %}
      {{ renderComponent('AwardCard', { award: award.award }) }}
    {% endfor %}
  {% endset %}
{% else %}
  {# in case the user chooses 'categories' #}
  {% set last_cat = 0 %}
  {% set last_award = 0 %}
  {% set is_last_award_in_cat = false %}
  {% set is_last_cat = false %}

  {# set visible award items #}
  {% set awards_initial %}
    {% set counter = 0 %}
    {% set length = 0 %}

    {# loop through all categories #}
    {% for category in categories %}
      {# 2 instead of 3 to prevent the next category title from appearing #}
      {% if counter <= 2 %}
        <div class="h4 o-kicker kicker">
          {{ category.category.name }}
        </div>
        {% for award in category.posts %}
          {% set counter = counter + 1 %}

          {# make sure show max 3 awards #}
          {% if counter <= 3 %}
            {{ renderComponent('AwardCard', { award: award }) }}
            {% if loop.index == loop.length %}
              {% set is_last_award_in_cat = true %}
              {% set awards_more_exists = false %}
            {% endif %}
          {% endif %}

          {% set last_award = loop.index0 %}
        {% endfor %}

        {% set last_cat = loop.index %} {# set variable for loop in view more section #}

        {% if loop.index == loop.length %}
          {% set is_last_cat = true %}
          {% set cat_more_exists = false %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endset %}

  {# set 'view more' award items #}
  {% set awards_more %}
    {% if is_last_award_in_cat == false %}
      {% set last_cat = 0 %}
    {% endif %}

    {% for category in categories[last_cat:] %}
      {% if is_last_award_in_cat == true %}
        <div class="h4 o-kicker kicker">
          {{ category.category.name }}
        </div>
      {% endif %}

      {# in case the visible section showed all awards in the visible category #}
      {% if is_last_award_in_cat == true %}
        {% set last_award = 0 %}
      {% endif %}

      {% for award in category.posts[last_award:] %}
        {{ renderComponent('AwardCard', { award: award }) }}

        {% if loop.index == loop.length %}
          {% set is_last_award_in_cat = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endset %}
{% endif %}

<section class="g2-awards">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="h1 section_title">
          {{ section_title }}
        </h2>
        <p class="section_subtitle large">
          {{ section_subtitle }}
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <div class="quote-container">
          <div class="score-wrapper"></div>
          <p class="h3 content">
            {{ quote.content }}
          </p>
          <p class="small author">
            {{ quote.author }}
          </p>
          <p class="small description">
            {{ quote.description }}
          </p>
        </div>
        <div class="awards-container">
          <div class="awards-column">
            {{ awards_initial }}
          </div>
          {% if pick_awards_categories == 'awards' %}
            {% if (awards|length) > 3 %}
              {% set view_more = true %}
            {% endif %}
          {% else %}
            {% if awards_more_exists or cat_more_exists %}
              {% set view_more = true %}
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="col-md-5 image_col d-flex">
        <div class="image-container">
          {{ renderComponent('Image', { image: image }) }}
        </div>
      </div>
    </div>
  </div>
</section>
