<section class="two-column-text-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 text-center">
        <h2 class="h1 title">
          {{ title }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <div class="left text-column {{ options_left_column.text_align }}">
          <div class="column-title">
            {{ left_column.column_title }}
          </div>
          <div class="column-description">
            {{ left_column.column_description }}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="right text-column {{ options_right_column.text_align }}">
          <div class="column-title">
            {{ right_column.column_title }}
          </div>
          <div class="column-description">
            {{ right_column.column_description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
