{% extends 'templates/_document.twig' %}

{% block Content %}
  <section class="content-single-post">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="#"
            class="back-button"
            onClick="contentLibraryBackButton(event);"
            data-href="{{ content_library_main_page.link }}">
            {{ __('Back', 'flynt') }}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3">
          <div class="post-content">
            <div class="meta">
              <div class="category h6">
                {{ post.terms('content-category')|join('') }}
              </div>
              <div class="type">
                {{ post.terms('content-type')|join('') }}
              </div>
            </div>
            <h1 class="title">
              {{ post.title }}
            </h1>
            <div class="gutenberg-content">
              {{ post.content }}
            </div>
            <hr />
            <div class="authors">
              {% for author in post.terms('content-author') %}
                <div class="author">
                  <div class="image">
                    {{ renderComponent('Image', { image: author.image }) }}
                  </div>
                  <div class="name-and-position">
                    <div class="name">
                      {{ author.name }}
                    </div>
                    <div class="position">
                      {{ author.description }}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
