{% extends 'templates/_document.twig' %}

{% block Content %}
  <section class="content-single-post gated">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="#"
            class="back-button"
            onClick="contentLibraryBackButton(event);"
            data-href="{{ content_library_main_page.link }}">
            {{ __('Back', 'flynt') }}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="post-content">
            <div class="featured-image">
              {{ renderComponent('Image', { image: post.featured_image }) }}
            </div>
            <div class="meta">
              <div class="category h6">
                {{ post.terms('content-category')|join('') }}
              </div>
              <div class="type">
                {{ post.terms('content-type')|join('') }}
              </div>
            </div>
            <h1 class="title">
              {{ post.title }}
            </h1>
            <div class="gutenberg-content">
              {{ post.content }}
            </div>
            {% if post.terms('content-author') %}
              <hr />
              <div class="authors">
                {% for author in post.terms('content-author') %}
                  <div class="author">
                    <div class="image">
                      {{ renderComponent('Image', { image: author.image }) }}
                    </div>
                    <div class="name-and-position">
                      <div class="name">
                        {{ author.name }}
                      </div>
                      <div class="position">
                        {{ author.description }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg-6">
          <div class="u-gravity-form">
            {% if post.gravity_form_icon %}
              <div class="form-icon">
                <img src="{{ Image(post.gravity_form_icon).src }}" alt="{{ Image(post.gravity_form_icon).alt }}" />
              </div>
            {% endif %}
            <div class="form-title h3">
              {{ post.gravity_form_title }}
            </div>
            {{ gravityForm(post.gravity_form, 'false', 'false', 'true') }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
