<section class="quote-colored-numbers">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-9 col-xxl-6">
        <div class="quote-container">
          <div class="h4 o-kicker">
            {{ kicker }}
          </div>
          <h2 class="quote o-title">
            {{ quote }}
          </h2>
          <div class="author">
            {{ author }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="number-container d-flex flex-wrap">
        {% for item in colored_numbers %}
          <div class="colored-number">
            <div class="number d-flex align-items-center justify-content-center {{ item.number_color }}">
              {{ loop.index }}
            </div>
            <div class="text">
              {{ item.description }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
