<div class="review">
  <img src="{{ stars.src }}" alt="{{ __('5 Starts', 'flynt') }}" />
  <div class="quote h3">
    {{ item.review.quote }}
  </div>
  <div class="person">
    {{ item.review.person }}
  </div>
  <div class="position">
    {{ item.review.position }}
  </div>
</div>
