<div class="navbar__buttons">
  {% set button1 = main_menu.meta('button1') %}
  {% set button2 = main_menu.meta('button2') %}

  <a class="button button--tide1"
    href="{{ button1.link.url }}"
    {{ button1.link.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}
    aria-label="{{ button1.aria_label ? button1.aria_label : button1.link.title }}">
    {{ button1.link.title }}
  </a>
  <a class="button button--rise"
    href="{{ button2.link.url }}"
    {{ button2.link.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}
    aria-label="{{ button2.aria_label ? button2.aria_label : button2.link.title }}">
    {{ button2.link.title }}
  </a>
</div>
