<section class="thrive-text-image" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="image-wrapper u-height-100">
          {{ renderComponent('Image', { image: background }) }}
          {{ renderComponent('Image', { image: image }) }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-wrapper u-height-100 d-md-flex flex-md-column align-items-md-start justify-content-md-center">
          <h2 class="h1 title">
            {{ title }}
          </h2>
          <p class="large">
            {{ description }}
          </p>
          {% if button %}
          <a href="{{ button.url }}"
            class="button button--text"
            {{ primary_button_id ? 'id="' ~ primary_button_id ~ '"' }}
            {{ button.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}
            aria-label="{{ button_aria_label }}">
            {{ button.title }}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
