<section class="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title h1">
          {{ title }}
        </div>
        <div class="steps">
          <div class="step">
            <div class="number">
              1
            </div>
            <div class="text">
              {{ step_1 }}
            </div>
          </div>
          <div class="step">
            <div class="number">
              2
            </div>
            <div class="text">
              {{ step_2 }}
            </div>
          </div>
          <div class="step">
            <div class="number">
              3
            </div>
            <div class="text">
              {{ step_3 }}
            </div>
          </div>
        </div>
        <div class="subtitle h2">
          {{ subtitle }}
        </div>
        <div class="description">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</section>
