<section class="thrive-speakers" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 section-title">
        {% if headline %}
        <h2 class="h1 title">
          {{ headline }}
        </h2>
        {% endif %}
        {% if description %}
        <p class="description large">
          {{ description }}
        </p>
        {% endif %}
      </div>
    </div>
    <div class="speakers-container">
      {% for speaker in speakers %}
        <div class="speaker">
          <div class="row {{
            speaker.position == 'right'
              ? 'normal'
              : 'reverse flex-md-row-reverse justify-content-md-end'
            }}">

            <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 {{ speaker.position == 'left' ? 'offset-lg-0' }}">
              <div class="speaker-image {{ speaker.position == 'left' ? 'left' }}">
                <div class="image">
                  {{ renderComponent('Image', { image: speaker.image }) }}
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 order-3 {{ speaker.position == 'right' ? 'offset-lg-0' }}">
              {% if speaker.kicker %}
                <div class="kicker-text h6 season">
                    {{ speaker.kicker }}
                </div>
              {% endif %}
              <h3 class="h2 speaker-headline">
                {{ speaker.headline }}
              </h3>
              {% if speaker.name %}
                <h4 class="h3 speaker-name">
                  {{ speaker.name }}
                </h4>
              {% endif %}
              <div class="speaker-info">
              {% if speaker.title %}
                <div class="speaker-title">
                  {{ speaker.title }}
                </div>
              {% endif %}
              </div>
              {% if speaker.description %}
              <div class="speaker-description">
                {{ speaker.description }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
